<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="open_manipulator_sara_gazebo" params="prefix">

    <xacro:macro name="Link" params="reference"/>

    <xacro:Link reference="${prefix}link1"/>
    <xacro:Link reference="${prefix}link2"/>
    <xacro:Link reference="${prefix}link3"/>
    <xacro:Link reference="${prefix}link4"/>
    <xacro:Link reference="${prefix}link5"/>
    <xacro:Link reference="${prefix}link6"/>
    <xacro:Link reference="${prefix}link7"/>

    <xacro:Link reference="${prefix}gripper_left_link"/>
    <xacro:Link reference="${prefix}gripper_right_link"/>

  </xacro:macro>

</robot>